name: Validate renovate config

on:
  push:
    branches:
      - main
    paths:
      - '*.json'
  pull_request:
    paths:
      - '*.json'

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      CI: true

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Setting up Node.js
        uses: actions/setup-node@1d0ff469b7ec7b3cb9d8673fde0c81c44821de2a # v4.2.0
        with:
          node-version: 20.x

      - name: Validate renovate config
        run: |
          for file in *.json
          do
            echo "[CI] Validating $file"
            RENOVATE_CONFIG_FILE=${file} npx --yes --package renovate -- renovate-config-validator --strict
          done
